{% set interaction = block.interactive %}<section class="break-pw accordian {{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}"><div class="u-max-m"><div class="row"><div class="col col--14-of-24 col--push-5-of-24">{% if ( block.accordianTitle | length > 0 ) or ( block.accordianContent | length > 0 )  %}<div class="intro u-text-center">{% if block.accordianTitle %}<h2>{{ block.accordianTitle }}</h2>{% endif %}
{% if block.accordianContent %}      
{{ block.accordianContent }}
{% endif %}</div>{% endif %}
{% for accordian in block.accordian.all() %}
{% if interaction %}<div data-aos="fade-up" class="border-shadow box"><div class="row"><div class="col col--13-of-14 col--push-1-of-24">{% for icon in accordian.accordianIcon.all() %}
{% if icon | length %}<div class="row"> <div class="col col--14-of-14"><img src="{{icon.getUrl() }}"/></div></div>{% endif %}
{% endfor %}
{% if accordian.accordianTitle | length %}<div class="row"> <div class="col col--14-of-14"><h2>{{accordian.accordianTitle}}
{% if accordian.accordianContent | length > 150 %}<i class="fas fa-plus"></i>{% endif %}</h2></div></div>{% endif %}<div class="row"> <div class="col col--14-of-16 blurb">{% if accordian.accordianContent | length > 150 %}<p>{{ accordian.accordianContent | slice(0, 150) | raw | striptags }}...</p>{% else %}<p>{{ accordian.accordianContent }}</p>{% endif %}</div><div hidden="hidden" class="col col--14-of-14 content">{{ accordian.accordianContent | raw  }}
{% if accordian.accordianButton.getText() | length %}<a href="{{ accordian.accordianButton.getUrl() }}" class="btn v-btn-tertiary alt">{{ accordian.accordianButton.getText() }}</a>{% endif %}</div></div></div></div></div>{% else %}<div data-aos="fade-up" class="border-shadow box not-interactive"><div class="row"><div class="col col--13-of-14 col--push-1-of-24"><div class="row"> <div class="col col--14-of-14">{% for icon in accordian.accordianIcon.all() %}
{% if icon | length %}<img src="{{icon.getUrl() }}"/>{% endif %}
{% endfor %}</div></div>{% if accordian.accordianTitle | length %}<div class="row"> <div class="col col--14-of-14"><h2>{{accordian.accordianTitle}}</h2></div></div>{% endif %}<div class="row"> <div class="col col--14-of-14 content">{{ accordian.accordianContent  }}
{% if accordian.accordianButton.getText() | length %}<a href="{{ accordian.accordianButton.getUrl() }}" class="btn v-btn-tertiary alt">{{ accordian.accordianButton.getText() }}</a>{% endif %}</div></div></div></div></div>{% endif%}
{% endfor %}</div></div></div></section>