{% set interaction = block.interactive %}

section.break-pw.accordian(class="{{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}")
    .u-max-m
        .row
            .col.col--14-of-24.col--push-5-of-24
                {% if ( block.accordianTitle | length > 0 ) or ( block.accordianContent | length > 0 )  %}
                .intro.u-text-center
                    {% if block.accordianTitle %}
                    h2 {{ block.accordianTitle }}
                    {% endif %}
                    {% if block.accordianContent %}      
                    {{ block.accordianContent }}
                    {% endif %}
                {% endif %}
                {% for accordian in block.accordian.all() %}
                {% if interaction %}
                .border-shadow.box(data-aos="fade-up")
                    .row
                        .col.col--13-of-14.col--push-1-of-24
                            
                            {% for icon in accordian.accordianIcon.all() %}
                            {% if icon | length %}
                            .row 
                                .col.col--14-of-14
                                    img(src="{{icon.getUrl() }}")
                            {% endif %}
                            {% endfor %}
                            {% if accordian.accordianTitle | length %}
                            .row 
                                .col.col--14-of-14
                                    h2 {{accordian.accordianTitle}}
                                        {% if accordian.accordianContent | length > 150 %}
                                        i.fas.fa-plus
                                        {% endif %}
                            {% endif %}
                            .row 
                                .col.col--14-of-16.blurb
                                    {% if accordian.accordianContent | length > 150 %}
                                    p {{ accordian.accordianContent | slice(0, 150) | raw | striptags }}...
                                    {% else %}
                                    p {{ accordian.accordianContent }}
                                    {% endif %}
                                .col.col--14-of-14.content(hidden)
                                    {{ accordian.accordianContent | raw  }}
                                    {% if accordian.accordianButton.getText() | length %}
                                    a.btn.v-btn-tertiary.alt(href="{{ accordian.accordianButton.getUrl() }}") {{ accordian.accordianButton.getText() }}
                                    {% endif %}

                {% else %}
                .border-shadow.box.not-interactive(data-aos="fade-up")
                    .row
                        .col.col--13-of-14.col--push-1-of-24
                            .row 
                                .col.col--14-of-14
                                    {% for icon in accordian.accordianIcon.all() %}
                                    {% if icon | length %}
                                    img(src="{{icon.getUrl() }}")
                                    {% endif %}
                                    {% endfor %}
                            {% if accordian.accordianTitle | length %}
                            .row 
                                .col.col--14-of-14
                                    h2 {{accordian.accordianTitle}}
                            {% endif %}
                            .row 
                                .col.col--14-of-14.content
                                    {{ accordian.accordianContent  }}
                                    {% if accordian.accordianButton.getText() | length %}
                                    a.btn.v-btn-tertiary.alt(href="{{ accordian.accordianButton.getUrl() }}") {{ accordian.accordianButton.getText() }}
                                    {% endif %}
                
                {% endif%}
                
                {% endfor %}
                