<section class="break-pw additional-links {{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}"><div class="u-max-m"><div class="row"><div class="col col--1-of-4 col--centered">{% for link in block.additionalLinksLinks %}
{% if link | length %}<a href="{{ link.additionalLink.getUrl() }}" class="btn u-margin-bottom {% if block.backgroundColour == 'blue' %} v-btn-primary {% else %} v-btn {% endif %}">{{ link.additionalLink.getText() }}</a>{% endif %}
{% endfor %}</div></div></div></section>