section.break-pw.additional-links(class="{{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}")
    .u-max-m
        .row
            .col.col--1-of-4.col--centered
                | {% for link in block.additionalLinksLinks %}
                | {% if link | length %}
                a.btn.u-margin-bottom(
                    href="{{ link.additionalLink.getUrl() }}"
                    class="{% if block.backgroundColour == 'blue' %} v-btn-primary {% else %} v-btn {% endif %}"
                ) {{ link.additionalLink.getText() }}
                | {% endif %}
                | {% endfor %}