<section class="break-pw card-holder"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered"><div class="u-flex u-flex__space u-flex__wrap">{% for card in block.cards.all() %}<article><div data-aos="fade-up" class="card u-text-center border-shadow"><header><figure class="aspect-ratio-1x1">{% for asset in card.cardIcon.all() %}
{% if asset %}<img src="{{asset.getUrl()}}"/>{% endif %}
{% endfor %}</figure></header><h2>{{ card.cardTitle }}</h2><p>{{card.cardContent}}</p><footer><a href="{{ card.cardButton.getUrl() }}" class="btn v-btn-tertiary">{{ card.cardButton.getText() }}</a></footer></div></article>{% endfor %}</div></div></div></div></section>