section.break-pw.card-holder
    .u-max-m
        .row
            .col.col--20-of-24.col--centered

                .u-flex.u-flex__space.u-flex__wrap
                    {% for card in block.cards.all() %}
                    article
                        .card.u-text-center.border-shadow(data-aos="fade-up")
                            header
                                figure.aspect-ratio-1x1
                                    {% for asset in card.cardIcon.all() %}
                                    {% if asset %}
                                    img(src="{{asset.getUrl()}}" )
                                    {% endif %}
                                    {% endfor %}
                            h2 {{ card.cardTitle }}
                            p {{card.cardContent}}
                            footer
                                a.btn.v-btn-tertiary(href="{{ card.cardButton.getUrl() }}") {{ card.cardButton.getText() }}
                    {% endfor %}
