{% set caseStudies = craft.entries().section('caseStudies').all() %}
{% if caseStudies | length %}
section.break-pw.case-studies
    .u-max-m
        .row
            .col.col--18-of-24.col--centered
                .swiper-container
                    .swiper-wrapper
                        {% for slide in caseStudies %}
                        .swiper-slide
                            .row
                                .col.col--1-of-2
                                    .content
                                        a(href="{{ slide.getUrl() }}")
                                            h2 {{ slide.abstractTitle }}
                                        {{ slide.abstractContent }}
                                        a.btn.inline(href="{{ slide.getUrl() }}") Read more
                                        
                                .col.col--1-of-2
                                    {% for asset in slide.abstractImage.all() %}
                                    figure.aspect-ratio-3x2
                                        a(href="{{ slide.getUrl() }}")
                                            img(src="{{ asset.getUrl('threeByTwo') }}")
                                    {% endfor %}
                        {% endfor %}
        .row
            .col.col--18-of-24.col--centered
                .relative
                    .prev
                        i.fas.fa-chevron-left
                    .swiper-navigation.swiper-container
                        .swiper-wrapper
                            {% for slide in caseStudies %}
                            {% for asset in slide.abstractImage.all() %}    
                            .swiper-slide
                                img(src="{{ asset.getUrl('threeByTwo') }}")
                                p.u-text-center {{ slide.title }}
                            {% endfor %}   
                            {% endfor %}
                    .next
                        i.fas.fa-chevron-right
{% endif %}