{% if callToAction %}
{% if craft.app.request.pathInfo != "contact" and not hideBottomCta %}
{% include '_globals/_call-to-action.html' %}
{% endif %}
{% endif %}
{% set pages = craft.entries.section('pages').Level(1) %}<footer class="break-pw"><div class="u-max-m"><div class="u-flex u-flex__space u-flex__wrap">{% for asset in footer.footerLogo %}
{% if asset | length %}<div class="logo"><a href="{{ siteUrl }}"><img src="{{ asset.getUrl() }}" alt="Jersey Community Foundation Trust logo" height="55px" width="198px"/></a></div>{% endif %}
{% endfor %}
{% if footer.displayNavigation %}<div class="navigation"><ul>{% nav page in pages %}<li>{{ page.getLink() }}</li>{% endnav %}</ul></div>{% endif %}
{% if footer.displaySearch %}<div class="search"><p>Subscribe to our newsletter</p><div class="input-submit"><input type="email" placeholder="Email Address" class="email"/><input type="submit" value="OK" class="submit"/></div></div>{% endif %}<div class="company-info"><p>Jersey Community Foundation</p><p>Charity number: 346. <br />Company number: 131479.</p><p>Registered in Jersey</p><p>Email:&nbsp;<a href="mailto:grants@jerseycommunityfoundation.org" target="_blank">grants@jerseycommunityfoundation.org</a></p></div>{% if footer.displaySocials %}<div class="socials"><div class="u-flex u-flex__space">{% if socials.twitter %}<a href="{{ socials.twitter}}" aria-label="Twitter" class="twitter"><i class="fab fa-twitter"></i></a>{% endif %}
{% if socials.facebook %}<a href="{{ socials.facebook}}" aria-label="Facebook" class="facebook"><i class="fab fa-facebook"></i></a>{% endif %}
{% if socials.instagram %}<a href="{{ socials.instagram}}" aria-label="Instagram" class="instagram"><i class="fab fa-instagram"></i></a>{% endif %}
{% if socials.linkedin %}<a href="{{ socials.linkedin}}" aria-label="LinkedIn" class="linkedin u-margin-left-m"><i class="fab fa-linkedin"></i></a>{% endif %}</div></div>{% endif %}</div><div class="row u-margin-top-s"><div class="col"><p>Video by Philip Clyde-Smith</p></div></div></div></footer>