{% if callToAction %}
{% if craft.app.request.pathInfo != "contact" and not hideBottomCta %}
{% include '_globals/_call-to-action.html' %}
{% endif %}
{% endif %}
{% set pages = craft.entries.section('pages').Level(1) %}
footer.break-pw
    .u-max-m

        .u-flex.u-flex__space.u-flex__wrap

            {% for asset in footer.footerLogo %}
            {% if asset | length %}
            .logo
                a(href="{{ siteUrl }}")
                    img(src="{{ asset.getUrl() }}" alt="Jersey Community Foundation Trust logo" height="55px" width="198px")
            {% endif %}
            {% endfor %}
            {% if footer.displayNavigation %}
            .navigation
                ul
                    {% nav page in pages %}
                    li {{ page.getLink() }}
                    {% endnav %}
            {% endif %}
            {% if footer.displaySearch %}
            .search
                p Subscribe to our newsletter
                .input-submit
                    input.email(type="email" placeholder="Email Address")
                    input.submit(type="submit" value="OK")
            {% endif %}
            .company-info
                p Jersey Community Foundation
                p Charity number: 346. <br />Company number: 131479.
                p Registered in Jersey
                p Email:&nbsp;
                    a(href="mailto:grants@jerseycommunityfoundation.org" target="_blank") grants@jerseycommunityfoundation.org
            {% if footer.displaySocials %}
            .socials
                .u-flex.u-flex__space
                    {% if socials.twitter %}
                    a.twitter(href="{{ socials.twitter}}" aria-label="Twitter")
                        i.fab.fa-twitter
                    {% endif %}
                    {% if socials.facebook %}
                    a.facebook(href="{{ socials.facebook}}" aria-label="Facebook")
                        i.fab.fa-facebook
                    {% endif %}
                    {% if socials.instagram %}
                    a.instagram(href="{{ socials.instagram}}" aria-label="Instagram")
                        i.fab.fa-instagram
                    {% endif %}
                    {% if socials.linkedin %}
                    a.linkedin.u-margin-left-m(href="{{ socials.linkedin}}" aria-label="LinkedIn")
                        i.fab.fa-linkedin
                    {% endif %}
            {% endif %}

        .row.u-margin-top-s
            .col
                p Video by Philip Clyde-Smith

