section.break-pw.accordian(class="{{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}")
    .u-max-m
        .row
            .col.col--18-of-24.col--push-3-of-24
                {% if ( block.grantsTitle | length > 0 ) or ( block.grantsContent | length > 0 )  %}
                .intro.u-text-center
                    {% if block.grantsTitle %}
                    h2 {{ block.grantsTitle }}
                    {% endif %}
                    {% if block.grantsContent %}      
                    {{ block.grantsContent }}
                    {% endif %}
                {% endif %}
                .grants-container 
                    .row 
                        .col.col--13-of-14.col--push-1-of-24 
                            table
                                //- caption Statement Summary
                                thead
                                    tr
                                        th(scope='col') Organisation
                                        th(scope='col') Project Title
                                        th(scope='col') Date Funded
                                        th(scope='col') Amount
                                tbody
                                    |{% for grants in block.grantsList %}
                                    tr
                                        td(data-label='Organisation') {{ grants.organisation }}
                                        td(data-label='Project Title') {{ grants.projectTitle }}
                                        td(data-label='Date Funded') {{ grants.dateFunded }}
                                        td(data-label='Amount') {{ grants.amount }}
                                    |{% endfor %}