<section class="break-pw accordian {{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}"><div class="u-max-m"><div class="row"><div class="col col--18-of-24 col--push-3-of-24">{% if ( block.grantsTitle | length > 0 ) or ( block.grantsContent | length > 0 )  %}<div class="intro u-text-center">{% if block.grantsTitle %}<h2>{{ block.grantsTitle }}</h2>{% endif %}
{% if block.grantsContent %}      
{{ block.grantsContent }}
{% endif %}</div>{% endif %}<div class="grants-container"> <div class="row"> <div class="col col--13-of-14 col--push-1-of-24"> <table><thead><tr><th scope="col">Organisation</th><th scope="col">Project Title</th><th scope="col">Date Funded</th><th scope="col">Amount</th></tr></thead><tbody>{% for grants in block.grantsList %}<tr><td data-label="Organisation">{{ grants.organisation }}</td><td data-label="Project Title">{{ grants.projectTitle }}</td><td data-label="Date Funded">{{ grants.dateFunded }}</td><td data-label="Amount">{{ grants.amount }}</td></tr>{% endfor %}</tbody></table></div></div></div></div></div></div></section>