<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
	<meta
	name="referrer" content="origin-when-cross-origin"/>
	{# <link rel="apple-touch-icon" sizes="57x57" href="{{ siteUrl }}build/img/fav/apple-icon-57x57.png">
		    <link rel="apple-touch-icon" sizes="60x60" href="{{ siteUrl }}build/img/fav/apple-icon-60x60.png">
		    <link rel="apple-touch-icon" sizes="72x72" href="{{ siteUrl }}build/img/fav/apple-icon-72x72.png">
		    <link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}build/img/fav/apple-icon-76x76.png">
		    <link rel="apple-touch-icon" sizes="114x114" href="{{ siteUrl }}build/img/fav/apple-icon-114x114.png">
		    <link rel="apple-touch-icon" sizes="120x120" href="{{ siteUrl }}build/img/fav/apple-icon-120x120.png">
		    <link rel="apple-touch-icon" sizes="144x144" href="{{ siteUrl }}build/img/fav/apple-icon-144x144.png">
		    <link rel="apple-touch-icon" sizes="152x152" href="{{ siteUrl }}build/img/fav/apple-icon-152x152.png">
		    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}build/img/fav/apple-icon-180x180.png">
		    <link rel="icon" type="image/png" sizes="192x192"  href="{{ siteUrl }}build/img/fav/android-icon-192x192.png">
		    <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}build/img/fav/favicon-32x32.png">
		    <link rel="icon" type="image/png" sizes="96x96" href="{{ siteUrl }}build/img/fav/favicon-96x96.png">
		    <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}build/img/fav/favicon-16x16.png">
		    <link rel="manifest" href="{{ siteUrl }}build/img/fav/manifest.json">
		    <meta name="msapplication-TileColor" content="#ffffff">
		    <meta name="msapplication-TileImage" content="{{ siteUrl }}build/img/fav/ms-icon-144x144.png">
		    <meta name="theme-color" content="#ffffff"> #}
	{% hook 'seomaticRender' %}
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ siteUrl }}build/css/styles.css?v=3">
	<script src="https://kit.fontawesome.com/63a54b7c99.js" crossorigin="anonymous"></script>
	<script>
		window.siteUrl = "{{ siteUrl }}";
	</script>
</head>
