{% set pages = navigation.navigation.all() %}
header.break-pw#header
    .u-max-m
        .row
            .col.col--4-of-24.col--push-1-of-24.logo
                figure
                    a(href="{{siteUrl}}")
                        img(src="{{siteUrl}}/build/img/logo/logo.svg" alt="Jersey Community Foundation Trust logo" height="55px" width="198px")
            .col.col--14-of-24
                nav
                    ul
                        {% for link in pages %}
                        li(class=" {% if link.secondaryLinks | length %} has-children {% endif %} ")
                            a(href="{{ link.primary.getUrl() }}") {{ link.primary.getText() }}
                            {% if link.secondaryLinks | length %}
                            .secondary-nav
                                .break-pw
                                    .u-max-m
                                        .row
                                            .col.col--18-of-24.col--centered
                                                ul
                                                    {% for slink in link.secondaryLinks %}
                                                    li
                                                        a(href="{{slink.getUrl()}}") {{ slink.abstractTitle | default(slink.title) }}
                                                    {% endfor %}
                        {% endif %}

                        {% endfor %}

                    .u-max-m.apply-btn
                        .mobile-show
                            | {% if navigationButton.ctaButton.getText() | length %}
                            a.btn.v-btn-secondary.inline(href="{{ navigationButton.ctaButton.getUrl() }}") {{ navigationButton.ctaButton.getText() }}
                            | {% else %}
                            a.btn.v-btn-secondary.inline(href="{{ siteUrl }}applying-for-funding") Apply for funding
                            | {% endif %}
            .col.col--4-of-24.mobile-hide
                .u-flex(style="justify-contents: flex-end;")
                    | {% if navigationButton.ctaButton.getText() | length %}
                    a(href="{{ navigationButton.ctaButton.getUrl() }}" class="c-button u-border-brand-blue u-bg-brand-blue u-text-white hover:u-bg-white hover:u-text-brand-blue") {{ navigationButton.ctaButton.getText() }}
                    | {% else %}
                    a(href="{{ siteUrl }}applying-for-funding" class="c-button u-border-brand-blue u-bg-brand-blue u-text-white hover:u-bg-white hover:u-text-brand-blue") Apply for funding
                    | {% endif %}

            .open.active
                i.fas.fa-bars
                span Menu
            .close
                i.fas.fa-times
                span Close
.ghost-header

