// get all the cards
{% set cards = craft.entries().section('news').limit(3) %}
{% if cards | length %}

section.break-pw.news-holder
    .u-max-m
        .row
            .col.col--20-of-24.col--centered.u-text-center
                h2.h1 News
            .col.col--20-of-24.col--centered.u-margin-top-m
                .news-card-holder
                    .row.u-flex.u-flex__space
                        {% for card in cards %}
                        .col.col--1-of-3
                            article.card.border-shadow(data-aos="fade-up")
                                
                                time {{ card.datePosted | date('d/m/Y') }}
                                h2 {{ card.title | chop(unit='c', limit='30' ) }}{% if card.title | length > 30 %}...{% endif %}
                                p {{ card.newsContent | chop(unit='c', limit='100') }}{% if card.newsContent | length > 100 %}...{% endif %}
                                a.btn(href="{{ card.getUrl() }}") Read more
                        {% endfor %}

section.break-pw.pagination
    .u-max-m
        .row
            .col.col--20-of-24.col--centered.u-text-right
                a.link-to.right(href="{{ siteUrl }}news") All news
                    i.fas.fa-chevron-right                   
{% endif %}