
section.break-pw.page-content(class="{% if block.removePaddingBottom == 1 %}u-padding-remove-bottom{% endif %}")
    .u-max-m
        .row(data-aos="fade-up")
            {% if block.twoColumn %}
            .col.col--20-of-24.col--centered
                {% if block.pageTitle | length %}
                h2 {{ block.pageTitle }}
                {% endif %}
                .two-col
                    {{ block.pageContent }}

            {% else %}
            .col.col--20-of-24.col--centered
                header 
                    {% if block.pageTitle | length %}
                    h2 {{ block.pageTitle }}
                    {% endif %}
                    .one-col
                        {{ block.pageContent }}
            {% endif %}