section.break-pw.page-banner(class="{{ block.bannerColor }}")
    div.content.u-max-m
        .row
            .col.col--8-of-24.col--push-3-of-24.image
                
                {% for asset in block.bannerImage.all() %}
                {% set x = asset.focalPoint.x * 100 %}
                {% set y = asset.focalPoint.y * 100 %}
                .aspect-ratio-1x1.circle(style="background: url({{ asset.getUrl('thumb')}}); background-position: {{x}}% {{y}}%; ")
                {% endfor %}
            .col.col--push-1-of-24.col--10-of-24.content
                h1 {{ block.bannerTitle | default(entry.title) }}
                {{ block.bannerContent }}
                {% if block.bannerButton.getText() | length %}
                a.btn.v-btn-primary(href="{{ block.bannerButton.getUrl() }}") {{ block.bannerButton.getText() }}
                {% endif %}
                
            
                