{% set content_wrapper_class = '' %}
{% if block.assetPosition == 'assetLeft' %}
{% set content_wrapper_class = 'u-order-1' %}
{% endif %}
{% set wrapper_classes = '' %}
{% set heading_classes = '' %}
{% set description_classes = '' %}
{% set cta1_classes = 'c-button' %}
{% set cta2_classes = 'c-button' %}
{% if block.style == 'whiteBlackText' %}
{% set heading_classes = 'u-text-black' %}
{% set cta1_classes = 'c-button u-border-brand-blue u-bg-brand-blue u-text-white hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-brand-blue u-text-brand-blue hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}
{% elseif block.style == 'whiteGreenText' %}
{% set heading_classes = 'u-text-brand-green' %}
{% set cta1_classes = 'c-button u-border-brand-green u-bg-brand-green u-text-white hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-brand-green u-text-brand-green hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% elseif block.style == 'whiteBlueText' %}
{% set heading_classes = 'u-text-brand-blue' %}
{% set cta1_classes = 'c-button u-border-brand-blue u-bg-brand-blue u-text-white hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-brand-blue u-text-brand-blue hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}
{% elseif block.style == 'greenWhiteText' %}
{% set wrapper_classes = 'u-bg-brand-green' %}
{% set heading_classes = 'u-text-white' %}
{% set description_classes = 'u-text-white' %}
{% set cta1_classes = 'c-button u-border-white u-bg-white u-text-brand-blue hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-white u-text-white hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% elseif block.style == 'blueWhiteText' %}
{% set wrapper_classes = 'u-bg-brand-blue-light' %}
{% set heading_classes = 'u-text-white' %}
{% set description_classes = 'u-text-white' %}
{% set cta1_classes = 'c-button u-border-white u-bg-white u-text-brand-blue hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-white u-text-white hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% endif %}<section class="c-signpost {{ wrapper_classes }}"><div class="c-signpost__content {{ content_wrapper_class }}">{% if block.heading %}
<{{ block.headingLevel | raw }} class="c-signpost__heading {{ heading_classes }}">
{{ block.heading }}
</{{ block.headingLevel | raw }}>
{% endif %}
{% if block.description %}<div class="c-signpost__description {{ description_classes }}">{{ block.description }}</div>{% endif %}
{% if block.cta1 or block.cta2 %}<div class="c-signpost__ctas">{% if block.cta1 %}
{{ block.cta1.getLink({ class: cta1_classes }) }}
{% endif %}
{% if block.cta1 %}
{{ block.cta2.getLink({ class: cta2_classes }) }}
{% endif %}</div>{% endif %}</div>{% if block.asset %}<div class="c-signpost__asset-wrapper">{% for asset in block.asset.all() %}
{% if asset %}
{% if asset.kind == 'video' %}<video muted="muted" loop="loop" autoplay="autoplay" playsinline="playsinline" alt="{{ asset.title }}" class="c-signpost__asset"><source src="{{ asset.getUrl() }}"/></video>{% elseif asset.kind == 'image' %}<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="c-signpost__asset"/>{% endif %}
{% endif %}
{% endfor %}</div>{% endif %}</section>