{% set content_wrapper_class = '' %}
{% if block.assetPosition == 'assetLeft' %}
{% set content_wrapper_class = 'u-order-1' %}
{% endif %}

{% set wrapper_classes = '' %}
{% set heading_classes = '' %}
{% set description_classes = '' %}
{% set cta1_classes = 'c-button' %}
{% set cta2_classes = 'c-button' %}

{% if block.style == 'whiteBlackText' %}
{% set heading_classes = 'u-text-black' %}
{% set cta1_classes = 'c-button u-border-brand-blue u-bg-brand-blue u-text-white hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-brand-blue u-text-brand-blue hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}

{% elseif block.style == 'whiteGreenText' %}
{% set heading_classes = 'u-text-brand-green' %}
{% set cta1_classes = 'c-button u-border-brand-green u-bg-brand-green u-text-white hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-brand-green u-text-brand-green hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}

{% elseif block.style == 'whiteBlueText' %}
{% set heading_classes = 'u-text-brand-blue' %}
{% set cta1_classes = 'c-button u-border-brand-blue u-bg-brand-blue u-text-white hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-brand-blue u-text-brand-blue hover:u-border-brand-green hover:u-bg-brand-green hover:u-text-white' %}

{% elseif block.style == 'greenWhiteText' %}
{% set wrapper_classes = 'u-bg-brand-green' %}
{% set heading_classes = 'u-text-white' %}
{% set description_classes = 'u-text-white' %}
{% set cta1_classes = 'c-button u-border-white u-bg-white u-text-brand-blue hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-white u-text-white hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}

{% elseif block.style == 'blueWhiteText' %}
{% set wrapper_classes = 'u-bg-brand-blue-light' %}
{% set heading_classes = 'u-text-white' %}
{% set description_classes = 'u-text-white' %}
{% set cta1_classes = 'c-button u-border-white u-bg-white u-text-brand-blue hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}
{% set cta2_classes = 'c-button u-border-white u-text-white hover:u-border-brand-blue hover:u-bg-brand-blue hover:u-text-white' %}

{% endif %}

section.c-signpost(class="{{ wrapper_classes }}")
    .c-signpost__content(class="{{ content_wrapper_class }}")
        {% if block.heading %}
        <{{ block.headingLevel | raw }} class="c-signpost__heading {{ heading_classes }}">
        {{ block.heading }}
        </{{ block.headingLevel | raw }}>
        {% endif %}

        {% if block.description %}
        .c-signpost__description(class="{{ description_classes }}")
            {{ block.description }}
        {% endif %}

        {% if block.cta1 or block.cta2 %}
        .c-signpost__ctas
            {% if block.cta1 %}
            {{ block.cta1.getLink({ class: cta1_classes }) }}
            {% endif %}

            {% if block.cta1 %}
            {{ block.cta2.getLink({ class: cta2_classes }) }}
            {% endif %}

        {% endif %}

    {% if block.asset %}
    .c-signpost__asset-wrapper
        {% for asset in block.asset.all() %}
        {% if asset %}
        {% if asset.kind == 'video' %}
        video.c-signpost__asset(muted loop autoplay playsinline alt="{{ asset.title }}")
            source(src="{{ asset.getUrl() }}")

        {% elseif asset.kind == 'image' %}
        img.c-signpost__asset(src="{{ asset.getUrl() }}" alt="{{ asset.title }}")

        {% endif %}
        {% endif %}
        {% endfor %}
    {% endif %}
