{% if block.slides | length > 1 %}
section.break-pw.swiper-content
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                .swiper-container
                    .swiper-wrapper
                        {% for slide in block.slides %}
                        {% if slide.slideImage.all() | length %}
                        .swiper-slide(data-navtitle="{{ slide.navigationTitle }}" )
                            .row
                                .col.col--6-of-18
                                    .content
                                        h2 {{ slide.slideTitle }}
                                        {{ slide.slideContent }}
                                        {% if not slide.slideButton.isEmpty() %}
                                        a.btn.inline(href="{{slide.slideButton.getUrl()}}") {{ slide.slideButton.getText() }}
                                        {% endif %}

                                .col.col--10-of-18.col--push-2-of-18
                                    {% for asset in slide.slideImage.all() %}
                                    figure.aspect-ratio-3x2
                                        {% if slide.externalVideo is not empty %}
                                        a(href="{{slide.externalVideo}}" target="_blank")
                                        img(src="{{ asset.getUrl() }}")
                                        {% else %}
                                        img(src="{{ asset.getUrl() }}")
                                        {% endif %}
                                    {% endfor %}
                        {% else %}
                        .swiper-slide
                            .row
                                .col.col--12-of-18.col--centered.u-text-center
                                    .content
                                        h2 {{ slide.slideTitle }}
                                        {{ slide.slideContent }}

                        {% endif %}
                        {% endfor %}
    .navigation
        .u-max-m
            .row
                .col.col--12-of-24.col-left.mob-half-wid
                    .nav.prev.u-text-left
                        p Previous
                            i.fas.fa-chevron-left
                .col.col--12-of-24.col-right.mob-half-wid
                    .nav.next.u-text-right
                        p Next
                            i.fas.fa-chevron-right

 
{% endif %}