<section class="break-pw three-block-row"><div class="u-max-m"><div class="row"><div class="col col--20-of-24 col--centered"><div class="u-flex u-flex__space u-flex__wrap">{% for card in block.linkedPages %}<div data-aos="fade-up" class="card"><div class="background">{% for asset in card.abstractImage %}
{% if asset %}<figure class="aspect-ratio-3x2"><img src="{{ asset.getUrl() }}"/></figure>{% endif %}
{% endfor %}<div class="content"><h2>{{ card.abstractTitle | default(card.title) }}</h2>{% if card.abstractButton | length %}<a href="{{ card.getUrl() }}" class="btn v-btn-tertiary alt">Read more</a>{% endif %}</div></div></div>{% endfor %}<div class="card"></div><div class="card"></div></div></div></div></div></section>