section.break-pw.three-block-row
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                .u-flex.u-flex__space.u-flex__wrap
                    {% for card in block.linkedPages %}
                    .card(data-aos="fade-up")
                        .background
                            {% for asset in card.abstractImage %}
                            {% if asset %}
                            figure.aspect-ratio-3x2
                                img(src="{{ asset.getUrl() }}")
                            {% endif %}
                            {% endfor %}
                            .content
                                h2 {{ card.abstractTitle | default(card.title) }}
                                {% if card.abstractButton | length %}
                                a.btn.v-btn-tertiary.alt(href="{{ card.getUrl() }}") Read more
                                {% endif %}
                            
                    {% endfor %}
                    .card
                    .card
