section.break-pw.two-card-grid
    .u-max-m
        .row
            .col.col--20-of-24.col--push-2-of-24
                .row 
                    {% for card in block.grid %}
                    .col.col--10-of-20.card(data-aos="fade-up")
                        .background
                            {% for asset in card.cardImage.limit(1) %}
                            {% if asset %}
                            .aspect-ratio-3x1(style="background: url({{ asset.getUrl('threeByOne') }}")
                            {% endif %}
                            .content
                                h2 {{ card.cardTitle }}
                                {% if card.cardButton | length %}
                                a.btn.v-btn-tertiary.alt(href="{{ card.cardButton.getUrl() }}") {{ card.cardButton.getText() }}
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                    
