<section class="break-pw video-player relative"><video id="video-player" muted="muted" loop="loop" autoplay="autoplay" playsinline="playsinline">{% for asset in block.video.all() %}
{% if asset %}<source src="{{ asset.getUrl() }}"/>{% endif %}
{% endfor %}</video><div class="content u-text-center"><h1 data-aos="fade-up">{{ block.headerTitle }}</h1><h3 data-aos="fade-up">{{ block.subtitle }}</h3>{% if block.button.getText() %}<a href="{{ block.button.getUrl() }}" class="btn v-btn-secondary">{{ block.button.getText() }}</a>{% endif %}</div></section>