section.break-pw.video-player.relative
    video#video-player(muted loop autoplay playsinline)
        {% for asset in block.video.all() %}
        {% if asset %}
        source(src="{{ asset.getUrl() }}")
        {% endif %}
        {% endfor %}
    .content.u-text-center

        h1(data-aos="fade-up") {{ block.headerTitle }}
        
        h3(data-aos="fade-up") {{ block.subtitle }}
        
        {% if block.button.getText() %}
        a.btn.v-btn-secondary(href="{{ block.button.getUrl() }}") {{ block.button.getText() }}
        {% endif %}