section.break-pw.video-cta
    .u-max-m
        .float-box(data-aos="fade-up")
            .row
                .col.col--20-of-24.col--centered
                    .border-shadow.box

                        .videoWrapper
                            <iframe src="https://www.youtube.com/embed/_oMT5qpEmUk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        .content
                            .padding
                                h2 {{ block.ctaTitle }}
                                h3 {{ block.ctaContent }}
                                {% if block.ctaButton.getUrl() is defined%}
                                a.btn.inline(href="{{ block.ctaButton.getUrl() }}") {{ block.ctaButton.getText() }}
                                {% endif %}