section.break-pw.accordian(class="{{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}")
    .u-max-m
        .row
            .col.col--18-of-24.col--push-3-of-24
                {% if ( block.embedTitle | length > 0 ) or ( block.embedContent | length > 0 )  %}
                .intro.u-text-center
                    {% if block.embedTitle %}
                    h2 {{ block.embedTitle }}
                    {% endif %}
                    {% if block.embedContent %}      
                    {{ block.embedContent }}
                    {% endif %}
                {% endif %}
                .grants-container 
                    .row 
                        .col.col--13-of-14.col--push-1-of-24 
                            {% if block.code %}      
                            {{ block.code|raw }}
                            {% endif %}