<section class="break-pw accordian {{ block.backgroundColour }} {% if block.removePaddingTop %}u-padding-top-m{% endif %}"><div class="u-max-m"><div class="row"><div class="col col--18-of-24 col--push-3-of-24">{% if ( block.embedTitle | length > 0 ) or ( block.embedContent | length > 0 )  %}<div class="intro u-text-center">{% if block.embedTitle %}<h2>{{ block.embedTitle }}</h2>{% endif %}
{% if block.embedContent %}      
{{ block.embedContent }}
{% endif %}</div>{% endif %}<div class="grants-container"> <div class="row"> <div class="col col--13-of-14 col--push-1-of-24"> 
{% if block.code %}      
{{ block.code|raw }}
{% endif %}</div></div></div></div></div></div></section>