section.break-pw.team-members
    
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                h2.u-text-center {{ block.heading }}
        .row.u-flex.u-flex__space
            .col.col--20-of-24.col--centered
                .row.team-member-holder
                    {% for entries in block.chooseMember %}
                    {% for member in entries.members %}
                    .col.col--4-of-20
                        {% set image = "" %}
                        {% for asset in member.staffImage.all() %}
                        {% set image = asset.getUrl('teamFaceShot') %}   
                        {% endfor %}
                        article.member(data-content="{{ member.staffContent }}" data-name="{{ member.staffName }}" data-position="{{ member.staffPosition }}" data-image="{{ image }}")
                            figure.aspect-ratio-1x1
                                {% for asset in member.staffImage.all() %}
                                img(src="{{ asset.getUrl('teamMembers') }}")   
                                {% endfor %}
                            .row 
                                .col.col--3-of-3.col--centered.content.u-text-center 
                                    p {{ member.staffName }}
                                    h4 {{ member.staffPosition }}
                    {% endfor %}
                    {% endfor %}
                    .col.col--4-of-22
                    .col.col--4-of-22

#overlay.team-overlay
    .u-max-m
        .row
            .col.col--3-of-4.col--centered
                article#memberHighlight.member-showcase 
                    .row
                        .col.col--24-of-24
                            .controls
                                i.close.fas.fa-times
                            .header.u-text-center
                                p#name
                                h4#position
                            .row
                                .col.col--2-of-4.col--centered
                                    figure.aspect-ratio-1x1
                                        {% for asset in team.members.one().staffImage.limit(1) %}
                                        img#image
                                        {% endfor %}
                            .content.u-text-center#content
                                p

