/** Base is in effect globals defaults
I.E. Normalise, generic HTML/UL/P stylings that are
the defaults across each page. This will include max widths etc that you use on
most if not all pages **/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
  ========================================================================== */

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: $lineHeight; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
    ========================================================================== */

/**
* Remove the margin in all browsers.
*/

body {
  margin: 0;
  overflow-x: hidden;
  &.overlay {
    overflow: hidden;
  }
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
  @extend .font-large-include;
  margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
  font-family: monospace, monospace; /* 1 */
  @extend .font-medium-include; /* 2 */
}

/* Text-level semantics
    ========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
  background-color: transparent;
}
p {
  margin-bottom: 10px;
}
/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
  font-weight: 900 !important;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  @extend .font-medium-include; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/

small {
  @extend .font-sm-med-include;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
    ========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

img {
  border-style: none;
}

/* Forms
    ========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: $lineHeight; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input {
  -webkit-appearance: none;
}
/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
    ========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
  display: list-item;
}

/* Misc
    ========================================================================== */

/**
* Add the correct display in IE 10+.
*/

template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/

[hidden] {
  display: none;
}

/** Global stylings **/
html,
body {
  font-family: "Whitney Book", Sans-Serif;
  color: $black;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button {
  font-family: "Whitney Book", Sans-Serif;
  margin: 0px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
  font-family: "Whitney Bold", Sans-Serif;
  font-weight: 500;
}
h4 {
  font-family: "Whitney Bold", Sans-Serif;
}
.u-bold,
strong {
  font-family: "Whitney Bold", Sans-Serif;
}
.underline {
  border-bottom: 1px solid $black;
}
.u-center {
  text-align: center;
}
p,
a,
button,
label {
  @extend .font-small-include;
}
p {
  font-size: 16px;
  line-height: 26px;
}
button {
  @extend .font-small-include;
  letter-spacing: 1;
}
p,
h2 {
  margin-bottom: 20px;
}

h1 {
  @extend .font-xlarge-include;
}
h2 {
  @extend .font-large-include;
}

h3 {
  @extend .font-sm-med-include;
}

.font-large {
  @extend .font-large-include;
  p {
    @extend .font-large-include;
  }
}
.font-medium {
  @extend .font-medium-include;
  p {
    @extend .font-medium-include;
  }
}
.font-sm-medium {
  @extend .font-sm-med-include;
}

a {
  color: $black;
  &:hover {
    color: $black;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

ul {
  padding-left: 30px;
}
:focus {
  outline: 0;
}
#app {
  overflow: hidden;
}

// ****** Start of Custom Classes ******* //
/** Extends/commnly used **/
.u-margin-center {
  margin: 0 auto;
}

/** Max Widths **/

.u-max-xl {
  max-width: $maxWidth * 1.3 !important;
  @extend .u-margin-center;
}
.u-max-l {
  max-width: 1363px !important;
  @extend .u-margin-center;
  .u-padding {
    @media (max-width: 1400px) {
      padding: 30px 50px;
    }
    @include mobile-break {
      padding: 20px;
    }
  }
}
.u-max-m {
  position: relative;
  z-index: 2;
  max-width: 1370px !important;

  padding: 0 20px;
  @extend .u-margin-center;
  @include mobile-break {
    padding: 0 30px;
    max-width: 1260px !important;
  }
  @include mobile {
    padding: 0 30px;
    max-width: 1240px !important;
  }
  .u-padding {
    @media (max-width: 1400px) {
      padding: 30px 50px;
    }
    @include mobile-break {
      padding: 20px;
    }
  }
}
.u-max-s {
  max-width: $maxWidth * 0.8;
  @extend .u-margin-center;
}
.u-max-xs {
  max-width: $maxWidth * 0.6;
  @extend .u-margin-center;
}

// *** Display flex *** //
.u-flex {
  display: flex;
}
.u-flex__space {
  justify-content: space-between;
}
.u-flex__center {
  justify-content: center;
  align-items: center;
}
.u-flex__align-center {
  align-items: center;
}
.u-flex__wrap {
  flex-wrap: wrap;
}
.u-flex-column {
  flex-direction: column;
}
.u-flex-flow {
  flex-flow: row nowrap;
}
.u-text-left {
  text-align: left;
}
.u-text-center {
  text-align: center;
}
.u-mobile-center {
  @include mobile-break {
    text-align: center !important;
  }
}
.u-text-right {
  text-align: right;
}
.white-text {
  color: $white;
  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
}

// *** Absolute Positioning *** //
.u-relative {
  margin: 0 auto;
  position: relative;
}
.relative {
  position: relative;
}
.u-abs {
  margin: 0 auto;
  position: absolute;
}
.u-abs__center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  @extend .u-abs;
}
.u-abs__v-center {
  transform: translateY(-50%);
  top: 50%;
  @extend .u-abs;
}
.u-abs__h-center {
  transform: translateX(-50%);
  left: 50%;
  @extend .u-abs;
}
// *** Background ***//
.u-background {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
.u-display-inline {
  display: inline-block;
}
.u-backgroundFull {
  overflow: hidden;
  vertical-align: middle;
  height: auto;
  position: relative;
  display: inline-block;
  width: 100%;
  video,
  iframe,
  img {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
.vm {
  vertical-align: middle;
}
// Padding/ Margin
.u-padding-l {
  padding: 80px;
  @include mobile-break {
    padding: 30px;
  }
  @include mobile {
    padding: 20px;
  }
}
.u-padding {
  padding: 35px;
  @include mobile-break {
    padding: 30px;
  }
  @include mobile {
    padding: 20px;
  }
}
.u-padding-s {
  padding: 20px;
}
.u-padding-top-xl {
  padding-top: 150px !important;
  @include mobile-break {
    padding-top: 30px !important;
  }
  @include mobile {
    padding-top: 20px !important;
  }
}
.u-padding-top-l {
  padding-top: 80px !important;
  @include mobile-break {
    padding-top: 30px !important;
  }
  @include mobile {
    padding-top: 20px !important;
  }
}
.u-padding-top-m {
  padding-top: 50px !important;
  @include mobile-break {
    padding-top: 30px !important;
  }
  @include mobile {
    padding-top: 20px !important;
  }
}
.u-padding-top {
  padding-top: 35px !important;
  @include mobile-break {
    padding-top: 30px !important;
  }
  @include mobile {
    padding-top: 20px !important;
  }
}
.u-padding-top-s {
  padding-top: 20px;
}
.u-padding-top-xs {
  padding-top: 10px !important;
}
.u-padding-bottom-xl {
  padding-bottom: 200px;
  @include mobile-break {
    padding-bottom: 30px;
  }
  @include mobile {
    padding-bottom: 20px;
  }
}
.u-padding-bottom-l {
  padding-bottom: 80px;
  @include mobile-break {
    padding-bottom: 30px;
  }
  @include mobile {
    padding-bottom: 20px;
  }
}
.u-padding-bottom-m {
  padding-bottom: 50px;
  @include mobile-break {
    padding-bottom: 30px;
  }
  @include mobile {
    padding-bottom: 20px;
  }
}
.u-padding-bottom {
  padding-bottom: 35px;
  @include mobile-break {
    padding-bottom: 30px;
  }
  @include mobile {
    padding-bottom: 20px;
  }
}
.u-padding-bottom-s {
  padding-bottom: 20px;
}
.u-padding-bottom-xs {
  padding-bottom: 10px;
}
.u-padding-bottom-0 {
  padding-bottom: 0 !important;
}

.u-padding-left {
  padding-left: 35px;
  @include mobile-break {
    padding-left: 30px;
  }
  @include mobile {
    padding-left: 20px;
  }
}
.u-padding-left-xs {
  padding-left: 10px;
}
.u-padding-right {
  padding-right: 35px;
  @include mobile-break {
    padding-right: 30px;
  }
  @include mobile {
    padding-right: 20px;
  }
}
.u-padding-right-xs {
  padding-right: 10px;
}
.u-padding-vertical {
  padding: 35px 0px;
  @include mobile-break {
    padding: 30px 0px;
  }
  @include mobile {
    padding: 20px 0px;
  }
}
.u-padding-horizontal {
  padding: 0px 35px;
  @include mobile-break {
    padding: 0px 30px;
  }
  @include mobile {
    padding: 0px 20px;
  }
}
.u-padding-remove-top {
  padding-top: 0px !important;
}
.u-padding-remove-right {
  padding-right: 0px !important;
}
.u-padding-remove-bottom {
  padding-bottom: 0px !important;
}
.u-padding-remove-left {
  padding-left: 0px !important;
}
// Margin begins
.u-margin-l {
  margin: 80px;
  @include mobile-break {
    margin: 30px;
  }
  @include mobile {
    margin: 20px;
  }
}
.u-margin {
  margin: 35px;
  @include mobile-break {
    margin: 30px;
  }
  @include mobile {
    margin: 20px;
  }
}
.u-margin-s {
  margin: 20px;
}
.u-margin-vertical {
  margin: 35px 0px;
  @include mobile-break {
    margin: 30px 0px;
  }
  @include mobile {
    margin: 20px 0px;
  }
}
.u-margin-horizontal {
  margin: 0px 35px;
  @include mobile-break {
    margin: 0px 30px;
  }
  @include mobile {
    margin: 0px 20px;
  }
}
.u-margin-remove-top {
  margin-top: 0px !important;
}
.u-margin-remove-right {
  margin-right: 0px !important;
}
.u-margin-remove-bottom {
  margin-bottom: 0px !important;
}
.u-margin-remove-left {
  margin-left: 0px !important;
}
.u-margin-top-l {
  margin-top: 80px;
  @include mobile-break {
    margin-top: 30px;
  }
  @include mobile {
    margin-top: 20px;
  }
}
.u-margin-top-m {
  margin-top: 50px;
  @include mobile-break {
    margin-top: 30px;
  }
  @include mobile {
    margin-top: 20px;
  }
}
.u-margin-top {
  margin-top: 35px;
  @include mobile-break {
    margin-top: 30px;
  }
  @include mobile {
    margin-top: 20px;
  }
}
.u-margin-top-s {
  margin-top: 20px;
}
.u-margin-bottom-l {
  margin-bottom: 80px;
  @include mobile-break {
    margin-bottom: 30px;
  }
  @include mobile {
    margin-bottom: 20px;
  }
}
.u-margin-bottom {
  margin-bottom: 35px;
  @include mobile-break {
    margin-bottom: 30px;
  }
  @include mobile {
    margin-bottom: 20px;
  }
}
.u-margin-bottom-s {
  margin-bottom: 20px;
}
.u-margin-bottom-xs {
  margin-bottom: 10px !important;
}
.u-margin-left-l {
  margin-left: 80px;
  @include mobile-break {
    margin-left: 30px;
  }
  @include mobile {
    margin-left: 20px;
  }
}
.u-margin-left {
  margin-left: 35px;
  @include mobile-break {
    margin-left: 30px;
  }
  @include mobile {
    margin-left: 20px;
  }
}
.u-margin-left-s {
  margin-left: 20px;
}
.u-margin-right-l {
  margin-right: 80px;
  @include mobile-break {
    margin-right: 30px;
  }
  @include mobile {
    margin-right: 20px;
  }
}
.u-margin-right {
  margin-right: 35px !important;
  @include mobile-break {
    margin-right: 30px;
  }
  @include mobile {
    margin-right: 20px;
  }
}
.u-margin-right-s {
  margin-right: 20px;
}

.mobile-hide {
  @include desktop {
    display: none !important;
  }
}
.mob-half-wid {
  @include mobile-break {
    width: 50%;
  }
}
.mobile-show {
  display: none !important;
  @include desktop {
    display: block !important;
  }
}

.u-block {
  display: block;
}

.x-wideCol {
  .row {
    margin-left: -90px;
    .col {
      padding-left: 90px;
    }
  }
}
.wideCol {
  .row {
    margin-left: -40px;
    .col {
      padding-left: 40px;
    }
  }
}

.desc-content {
  ul {
    margin-left: 20px;
  }
}
.uk-modal-body {
  @media (max-width: 400px) {
    padding: 15px !important;
  }
}
.border-bottom {
  border-bottom: 1px solid $green;
  padding-bottom: 5px;
}

figure {
  margin: 0;
}

.break-pw {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.border-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

[class*="aspect-ratio"] {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;

  &.v-allow-overflow {
    overflow: visible;
  }

  img,
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
    z-index: 1;
  }

  &.circle {
    border-radius: 100%;
    overflow: hidden;
    background-size: cover !important;

    img {
      height: 100%;
      width: auto;

      @include desktop {
        height: 100% !important;
        width: auto !important;
      }
    }

    @include mobile {
      border-radius: 100%;
      overflow: hidden;
      width: 50%;
      height: 50%;
      margin: auto;
      padding-top: 50%;
    }
  }
}
.aspect-ratio-1x1 {
  padding-top: 100%;
  img {
    width: 100%;
    height: auto;

    @include mobile-break {
      width: 100% !important;
      height: auto !important;
    }
  }
}
.aspect-ratio-1-25 {
  padding-top: 80%;
  img {
    width: 100%;
    height: auto;

    @include mobile-break {
      width: 100% !important;
      height: auto !important;
    }
  }
}
.aspect-ratio-3x2 {
  padding-top: 66%;
  img {
    width: 100% !important;
    height: auto !important;
    @include mobile-break {
      width: 100% !important;
      height: auto !important;
    }
  }
}
.aspect-ratio-3x1 {
  padding-top: 33%;
  img {
    width: 100% !important;
    height: auto !important;
    @include mobile-break {
      width: 100% !important;
      height: auto !important;
    }
  }
  @include mobile-break {
    padding-top: 66%;

    img {
      background-size: contain;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

#overlay {
  width: 100vw;
  height: 100vh;
  display: block;

  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 50%;
  left: 50%;

  z-index: 9999;
  opacity: 0;

  transform: scale(0) translate(-50%, -50%);
  transition: all 0.3s;

  &.active {
    opacity: 1;
    transform: translate(-50%, -50%);

    overflow: auto;
  }
}

#loading-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  opacity: 1;
  transition: all 0.4s;

  background: white;

  &.transition {
    opacity: 0;
  }
}
