h1, .h1 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
}

h2, .h2 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    line-height: 32px;
}

h3, .h3 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

h4 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

p, ul, li, a, time, label, input, select {
    font-size: 16px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, ul, li strong  {
    color: #6C7071;
    line-height: 1.5;
}

ul {
    padding-left: 20px;

    li {
        margin-bottom: 5px;
    }
}

time {
    font-family: montserrat, sans-serif;
    line-height: 14px;
}
