
.u-bg-brand-blue { background-color: $brandBlue; }
.u-bg-brand-blue-light { background-color: $brandLightBlue; }
.u-bg-brand-green { background-color: $brandGreen; }
.u-bg-white { background-color: white; }
.u-bg-black { background-color: black; }

.u-text-brand-blue { color: $brandBlue; }
.u-text-brand-blue-light { color: $brandLightBlue; }
.u-text-brand-green { color: $brandGreen; }
.u-text-white { color: white; }
.u-text-black { color: black; }

.u-border-brand-blue { border-color: $brandBlue; }
.u-border-brand-blue-light { border-color: $brandLightBlue; }
.u-border-brand-green { border-color: $brandGreen; }
.u-border-white { border-color: white; }
.u-border-black { border-color: black; }

.u-order-1 { order: 1; }

// # Hovers
// In an ideal world we'd just have full tailwind here, but we only need a
// handful of classes to make the little changes. Not sure if this is Sass-able
// to automatically create with mixins, but able update with keyboard shortcuts
.hover\:u-bg-brand-blue:hover { background-color: $brandBlue; }
.hover\:u-bg-brand-blue-light:hover { background-color: $brandLightBlue; }
.hover\:u-bg-brand-green:hover { background-color: $brandGreen; }
.hover\:u-bg-white:hover { background-color: white; }
.hover\:u-bg-black:hover { background-color: black; }

.hover\:u-text-brand-blue:hover { color: $brandBlue; }
.hover\:u-text-brand-blue-light:hover { color: $brandLightBlue; }
.hover\:u-text-brand-green:hover { color: $brandGreen; }
.hover\:u-text-white:hover { color: white; }
.hover\:u-text-black:hover { color: black; }

.hover\:u-border-brand-blue:hover { border-color: $brandBlue; }
.hover\:u-border-brand-blue-light:hover { border-color: $brandLightBlue; }
.hover\:u-border-brand-green:hover { border-color: $brandGreen; }
.hover\:u-border-white:hover { border-color: white; }
.hover\:u-border-black:hover { border-color: black; }

.hover\:u-order-1:hover { order: 1; }

