section.break-pw.contact
    .u-max-m
        .row
            .col.col--24-of-24.u-text-center
                h2 Get in touch
                p For grant enquiries please email 
                    a(href="mailto:grants@jerseycommunityfoundation.org") grants@jerseycommunityfoundation.org
        .row    
            .col.col--15-of-24.col--centered
                |{% macro errorList(errors) %}
                |{% if errors %}
                <ul class="errors">
                |{% for error in errors %}
                <li>{{ error }}</li>
                |{% endfor %}
                </ul>
                |{% endif %}
                |{% endmacro %}
                |{% from _self import errorList %}
                form(method="post" action="" accept-charset="UTF-8")
                    .row
                        .col
                            |{{ csrfInput() }}
                            input( type="hidden" name="action" value="contact-form/send")
                            |{{ redirectInput('contact/thanks') }}
                    .row
                        .col.col--7-of-15
                            label I am interested in
                                span.warning *
                            .input     
                                select(id="interested" name="message[Interests][]" required) 
                                    option(value="") -- please select below --
                                    option(value="Become donor") Becoming a donor
                                    option(value="Establish fund") Establishing a fund
                                    option(value="Corporate giving") Corporate giving
                                    option(value="Applying for a grant") Applying for a grant
                                span.fas.fa-check

                        .col.col--7-of-15.col--push-1-of-15
                            label Name
                                span.warning *
                            .input 
                                input(type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="please enter your name" required)
                                span.fas.fa-check {{ message is defined and message ? errorList(message.getErrors('fromFullName')) }}
                            
                    .row
                        .col.col--7-of-15
                            label Subject
                            .input 
                                input(type="text" name="message[Subject]" value="" placeholder="please enter the subject you are interested in")
                                span.fas.fa-check

                        .col.col--7-of-15.col--push-1-of-15
                            label E-mail
                                span.warning *
                            .input 
                                input(id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Email" required)
                                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                                span.fas.fa-check
                    .row
                        .col.col--12-of-12
                            label Message
                                span.warning *
                            textarea(rows="5" cols="40" id="message" name="message[body]" placeholder="Message" required ) {{ message.message ?? '' }}
                            {{ message is defined and message ? errorList(message.getErrors('message')) }}


                    .row
                        .col.col--7-of-15.opt-in
                            p.u-inline Opt in to our newsletter
                            .option
                                input(type="radio" name="newsletter" value="opt-in") 
                                label Opt in
                            .option
                                input(type="radio" name="newsletter" value="opt-out")
                                label Opt out
                        .col.col--3-of-15.col--push-5-of-15
                            input(type="submit" value="Submit")

                    


