{% extends '_layout' %}
{% block content %}
div.u-max-m
    {% include '_includes/_header.html' %}
    main
        section.break-pw.contact
            .u-max-m
                .row
                    .col.col--24-of-24.u-text-center
                        h2 Thank you for your submission
                        p We will be in contact soon
                        a.btn.v-btn-tertiary(href='{{siteUrl}}' title='home') Return to home
{% endblock %}          