{% extends '_layout' %}
{% block content %}<div class="u-max-m">{% include '_includes/_header.html' %}<main><section class="break-pw contact"><div class="u-max-m"><div class="row"><div class="col col--24-of-24 u-text-center"><h2>Thank you for your submission</h2><p>We will be in contact soon</p><a href="{{siteUrl}}" title="home" class="btn v-btn-tertiary">Return to home</a></div></div></div></section></main></div>{% endblock %}          