|{% for block in entry.contactContent.all() %}
|    {% switch block.type %}
|        {% case "pageBanner" %}
|            {% include '_includes/_page-banner.html' %}
|        {% case "pageContent" %}
|            {% include '_includes/_page-content.html' %}
|    {% endswitch %}
|{% endfor %}