|{% for block in entry.homeContent.all() %}
|    {% switch block.type %}
|        {% case "signpost" %}
|            {% include '_includes/_signpost.html' %}
|        {% case "videoHeader" %}
|            {% include '_includes/_video-header.html' %}
|        {% case "videoCallToAction" %}
|            {% include '_includes/_video-cta.html' %}
|        {% case "cardHolder" %}
|            {% include '_includes/_card-holder.html' %}
|        {% case "news" %}
|            {% include '_includes/_news-holder.html' %}
|    {% endswitch %}
|{% endfor %}
