|{% for block in entry.pageContent.all() %}
|    {% switch block.type %}
|        {% case "pageBanner" %}
|            {% include '_includes/_page-banner.html' %}
|        {% case "pageContent" %}
|            {% include '_includes/_page-content.html' %}
|        {% case "accordian" %}
|            {% include '_includes/_accordian.html' %}
|        {% case "swiperContent" %}
|            {% include '_includes/_swiper-content.html' %}
|        {% case "displayTeamMembers" %}
|            {% include '_globals/_team-members.html' %}
|        {% case "grid" %}
|            {% include '_includes/_grid.html' %}
|        {% case "content" %}
|            {% include '_includes/_page-content.html' %}
|        {% case "largeCallToAction" %}
|            {% include '_includes/_large-call-to-action.html' %}
|        {% case "twoCardGrid" %}
|            {% include '_includes/_two-card-grid.html' %}
|        {% case "caseStudies" %}
|            {% include '_includes/_case-studies.html' %}
|        {% case "threeBlockRow" %}
|            {% include '_includes/_three-block-row.html' %}
|        {% case "additionalLinks" %}
|            {% include '_includes/_additional-links.html' %}
|        {% case "grantsBlock" %}
|            {% include '_includes/_grants-block.html' %}
|        {% case "selectTeam" %}
|           {% include '_includes/selected-team.html' %}
|        {% case "embedCode" %}
|           {% include '_includes/embed.html' %}
|        {% case "signpost" %}
|            {% include '_includes/_signpost.html' %}
|    {% endswitch %}
|{% endfor %}

| {% if entry.level > 0 %}
.break-pw.back
    .u-max-m
        .prev.relative
            i.fas.fa-chevron-left
            a(onclick="window.history.back();") Back
| {% endif %}
