| {% extends '_layout' %}
| {% block content %}
div.u-max-m
    | {% include '_includes/_header.html' %}
    <main>
    | {% include '_matrix-includes/_page-content.html' %}
    </main> 
| {% endblock %}
