.accordian {
    padding: 100px 0;

    @include desktop {
        padding: 50px 0;
    }

    &.spots {
        background: url("../img/background/pattern-grey.svg") repeat-x bottom center;
    }

    &.grey {
        background: $backgroundGrey;
    }

    &.white {
    }

    .intro {
        margin-bottom: 65px;

        h2 {
            color: $brandGreen;
        }
    }

    .box {
        margin-bottom: 25px;
        padding: 30px 36px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background: white;

        h2 {
            display: block;
            position: relative;
            color: $brandGreen;

            @include desktop {
                font-size: 24px;
                padding-right: 30px;
                position: relative;
            }

            i {
                position: absolute;
                top: 50%;
                right: 0;

                transform: translate(-50%, -50%);
                content: "\f067";

                @include desktop {
                    font-size: 24px;
                    right: -10px;
                }
            }
        }

        p {
            color: #6c7071;
        }
        ul,
        ol {
            li {
                color: #6c7071;
            }
        }
    }
}
