.btn {
    padding: 3px 28px;

    border: solid 2px $brandBlue;
    border-radius: 20px;

    font-family: source sans pro, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: $brandBlue;
    display: block;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;

    cursor: pointer;

    &:hover {
        color: white;
        background: $brandBlue;
        border-color: $brandBlue;
    }

    &.inline {
        display: inline-block;
    }

    &.v-btn-large {
        padding: 10px 40px;
        text-align: center;
    }

    &.v-btn-primary {
        color: $white;
        background-color: transparent;
        border-color: white;
        padding: 5px 25px;
        display: inline-block;

        &:hover {
            color: $brandBlue;
            background: white;
            border-color: white;
        }
    }

    &.v-btn-secondary {
        color: $brandBlue;
        background-color: white;
        border-color: white;
        padding: 5px;

        &:hover {
            color: white;
            background: $brandBlue;
            border-color: $brandBlue;
        }
    }

    &.v-btn-tertiary {
        color: white;
        background-color: $brandGreen;
        border-color: $brandGreen;
        display: inline-block;

        &:hover {
            color: $brandGreen;
            background: white;
        }


        &.alt {
            color:$brandGreen;
            background-color: transparent;
            border-color: $brandGreen;
            display: inline-block;

            &:hover {
                color: white;
                background: $brandGreen;
            }
        }
    }

    &.v-btn-white {
        color: black;
        background-color: white;
        border-color: white;
        display: inline-block;

        &:hover {
            color: white;
            background: transparent;
        }
    }

    &.v-btn-brand-blue {
        color: white;
        background-color: $brandBlue;
        border-color: $brandBlue;
        display: inline-block;

        &:hover {
            color: white;
            background: transparent;
        }
    }
}

.c-button {
    padding: 5px 25px;

    border: solid 2px $brandBlue;
    border-radius: 20px;

    font-family: source sans pro, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: $brandBlue;
    display: block;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
}

.link-to {

    color: white;
    text-decoration: none;
    padding-right: 80px;
    position: relative;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;

    i {

        position: absolute;
        top: 50%;
        right: 0;
        font-size: 20px;

        display: block;

        transform: translate(-50%, -50%);

        transition: all linear 0.3s;

    }

    &:hover {
        color: white;
        i {
            transform: translate(50%, -50%);
        }
    }

}
