.call-to-action {
    padding: 100px 0;
    background: url('../img/background/pattern-grey.svg') repeat-x;
    background-position: bottom center;

    @include desktop {
        padding: 50px 0;
    }

    .image {
        width: 50%;
        @include mobile-break {
            display: none;
        }
    }

    .content {
        padding: 41px 57px 50px;
        background: $brandGreen;
        width: 50%;

        @include mobile-break {
            width: 100%;
        }

        h2, p, a:not(.btn) {
            color: white;
            border-color: white;
            max-width: 25em;
        }

        h2 {
            font-size: 32px;
            line-height: 1.2;
        }

        .btn {
            display: inline-block;
        }

    }


}
