.card-holder {
    background: $backgroundGrey;
    padding: 120px 0;

    @include desktop {
        padding: 50px 0;
    }

    .u-flex {
        row-gap: 20px;

        article {
            // margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }


        article {
            width: 49%;
        }

        @include mobile-break {
            article {
                width: 100%;
            }
        }

    }

    .card {
        background: #ffffff;
        padding: 27px 38px 38px;
        border-radius: 20px;
        border: solid 1px transparent;
        transition: all 0.3s;

        @include mobile-actual-break {
            padding: 20px 30px;
        }

        header {
            padding-top: 10px;
            padding-bottom: 20px;

            figure {
                width: 53px;
                height: 53px;
                padding: 0;
                margin: 0 auto;

                img {
                    fill: $brandGreen;
                }
            }
        }

        h2 {
            color: $brandGreen;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 25px;
        }

        &:hover {

            border: solid 1px rgba(0, 0, 0, 0.1);
            transform: none;
            box-shadow: none;

        }
    }

}
