.case-studies {

    background: $backgroundGrey;
    padding: 100px 0;

    @include desktop {
        padding: 50px 0;
    }

    .swiper-slide {

        width: 100%;
        display: block;
        padding-bottom: 50px;

        .content {
            a {
                text-decoration: none;
            }


            h2 {
            
                color: $brandBlue;
            
            }
        
        }
    
    }

    .swiper-navigation {
    
        .swiper-slide {
            height: 165px;
            display: inline;
            overflow: hidden;

            @include desktop {
                padding: 0;
                height: auto;
            }

            img {
                height: 100%;
                width: auto;

                @include desktop {
                    display: none;
                }
            }

            &.swiper-slide-thumb-active {
                p {
                    font-weight: bold;
                }
            }
            
        }

    }
    .prev, .next {
        @include desktop {
            display: none;
        }
    }

    .prev {
        position: absolute;
        left: -30px;
        top: 40%;
        transform: translate(-50%, -50%);

    }
    .next {
        position: absolute;
        right: -30px;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}