.contact {

    padding: 100px 0;
    background: url('../img/background/pattern-grey.svg') repeat-x;
    background-position: center bottom;

    @include desktop {
        padding: 50px 0;
    }

    h2 {
        color: $brandGreen;
        margin-bottom: 50px;
    }

    form {
        label {
            display: block;
            color: $brandGreen;
        }
    
        input, 
        select, 
        textarea {
    
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
    
            display: block;
            border: 2px solid $brandGreen;
            border-radius: 10px;
            padding: 5px 20px;
            width: 100%;
            color: $brandGreen;
            background: white;
    
            margin-bottom: 40px;
    
            &::placeholder {
                color: $brandGreen;
            }
    
            &:valid {
    
                opacity: 1;
    
            }
        }
    
        input[type="checkbox"],
        input[type="radio"] {
            
            position: relative;
            border-radius: 100%;
            display: inline-block;
            height: 20px;
            width: 20px;
            max-width: 20px;
            max-height: 20px;
            min-width: 20px;
            min-height: 20px;
            background: white;
            border: 2px solid $brandGreen;
            transition: opacity 0.3s;
            padding: unset;
    
            margin-bottom: 0;
    
            &::after {
    
                height: 10px;
                width: 10px;
                content: "";
    
                background: $brandGreen;
                border-radius: 100%;

                @extend .u-abs__center;
    
                opacity: 0;
                transition: opacity 0.3s;
            }
    
            &:checked {
                &::after {
                    opacity: 1;
                }
            }
        }
    
        input[type="submit"] {
            background: white;
            border: 2px solid $brandGreen;
            color: $brandGreen;
            padding: 0px 36px;
            border-radius: 30px;
    
            &:hover {
                background: $brandGreen;
                color: white;
            }
    
        }
    
        .input {
            position: relative;
    
            span {
                position: absolute;
    
                top: 50%;
                left: 95%;
    
                transform: translate(-50%, -50%);
    
                opacity: 0;
                transition: opacity 0.3s;
    
                color: $brandGreen;
            }
    
            input:valid {
                &:not([value=""]){
                    &:not(:placeholder-shown) {
                        & + span {
                            opacity: 1;
                        }
                    }
                }
            }
    
            select:valid {
                &:not([value=""]){
                    &:not(:placeholder-shown) {
                        & + span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    
        .opt-in {
            p {
                display: inline;
                width: auto;
                color: $brandGreen;
            }
            .option {
                width: auto;
                display: inline;
                margin-left: 15px;
    
                input {
                    margin-bottom: -5px;
                }
                label {
                    margin-left: 5px;
                    display: inline;
                }
            }
        }
        
    
    }
}
