body > footer {
  background: $backgroundGrey;
  padding: 100px 0;

  @include desktop {
    padding: 50px 0;
  }

  p,
  a {
    line-height: 16px;
    text-decoration: none;
    color: $brandBlue;
    font-family: source-sans-pro, sans-serif;
  }

  .navigation {
    width: 50%;

    @include desktop {
      width: 30%;
    }
    @include mobile-break {
      width: 100%;
    }
    ul {
      list-style: none;
      margin: 0;

      @include desktop {
        padding-left: 0;
        margin-bottom: 25px;
      }

      li {
        width: 50%;
        display: inline-block;
        margin-bottom: 10px;
        line-height: 10px;

        @include desktop {
          width: 100%;
          padding: 10px 0;
        }
        a {
          @include desktop {
            font-size: 16px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .logo {
    min-width: 200px;
    width: 20%;
    @include desktop {
      margin-bottom: 25px;
    }
  }

  .search {
    margin-top: 10px;
    position: relative;
    p {
      color: $brandBlue;
    }
    .email {
      padding: 0 15px;
      width: 100%;
      outline: none;
      color: $brandBlue;
      border: 1px solid $brandBlue;
      border-radius: 20px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -ms-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        color: $brandBlue;
      }
    }
    .submit {
      position: absolute;
      right: 0;
      cursor: pointer;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      outline: none;
      border: 1px solid $brandBlue;
      background: $brandBlue;
      color: white;
      width: 15%;
      height: 40px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  .socials {
    @include mobile-break {
      margin-bottom: 40px;
    }
    a {
      margin-left: 20px;

      &:first-of-type {
        margin: 0;
      }
    }
    i {
      transition: all 1;

      @include desktop {
        padding: 0 20px;
      }

      &:first-child {
        @include desktop {
          padding-left: 0;
        }
      }
    }

    .u-flex {
      @include desktop {
        justify-content: flex-start;
      }
    }

    .twitter {
      &:hover {
        i {
          color: #00acee;
        }
      }
    }
    .facebook {
      &:hover {
        i {
          color: #3b5998;
        }
      }
    }
    .instagram {
      &:hover {
        i {
          background: linear-gradient(
            45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .linkedin {
      &:hover {
        i {
          color: #0e76a8;
        }
      }
    }
  }

  .company-info {
    width: 30%;
    @include mobile-break {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  i {
    color: $brandBlue;
    font-size: 25px;
  }
}
