.grid {

    padding: 100px 0;
    background: url('../img/background/pattern-grey-top.svg') no-repeat top center;
    background-size: cover;

    @include desktop {
        padding: 50px 0;
    }

    .intro {
        h2 {
            color: $brandGreen;
        }

        .text {
            @include desktop {
                float: left;
                width: 70%;
            }
        }

        .icon {
            @include desktop {
                float: right;
                width: 30%;
            }
        }

        &::after {
            @include desktop {
                content: "";
                clear: both;
                display: table;
            }
        }
    }
    
    .items {
        margin-top: 60px;
        
  
        @include desktop {
            display: inline-flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 3%;
        }

        @include mobile {
            gap: 2%;
        }

        .item {
            background: white;
            box-shadow: 0 3px 6px rgba(0,0,0,0.2);
            border-radius: 10px;
            margin-bottom: 15px;

            @include desktop {
                margin-bottom: 30px;
            }
                
            .image {
                padding: 30px;
            }
            .content {
                padding: 17px 20px;
                background: $brandGreen;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                color: white;
                text-align: center;

                h4 {
                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
    
            }
            
        }

        .col {
            @include desktop {
                width: 30%
            }

            @include mobile {
                width: 49%;
            }
        }
    }
    

}