#header {
  position: fixed !important;
  top: 0;

  background-color: white;
  z-index: 100;
  padding: 27px 0 14px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  @include desktop {
    padding-top: 14px;
    left: 0;
    transform: unset;
  }

  nav {
    margin-top: 10px;

    @include desktop {
      margin: 0;
      display: none;
      z-index: 1;
    }

    @include desktop {
      position: fixed;
      top: 90px;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: $brandLightBlue;
    }

    &.active {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      margin-left: 25px;

      @include desktop {
        display: block;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      li {
        position: relative;
        display: inline-block;
        margin-right: 25px;
        text-transform: capitalize;

        &:last-child {
          margin-right: 0;
          border-bottom: none;
        }

        @include desktop {
          display: block;
          margin: 0;
          border-bottom: 1px solid white;
        }

        a {
          color: $brandBlue;
          font-size: 14px;
          font-family: montserrat, sans-serif;
          font-weight: 600;
          font-style: normal;
          text-decoration: none;

          &:hover {
            color: $brandLightBlue;

            @include desktop {
              color: white;
            }
          }

          @include desktop {
            color: white;
            padding: 15px 30px;
            display: block;
            font-size: 16px;
          }
        }

        &.has-children {
          padding-right: 26px;

          &::after {
            color: $brandBlue;

            position: absolute;
            right: 0;
            top: 30%;
            display: block;

            transform: translate(-50%, -50%);

            content: "\2304";
            font-size: 18px;
            font-family: montserrat, sans-serif;
            font-weight: 600;
            font-style: normal;

            @include desktop {
              color: white;
              right: 30px;
              top: 20px;
              font-size: 24px;
              font-weight: bold;
            }
          }

          &.active {
            &::after {
              color: white;
              right: 27px;
              top: 26px;
              font-size: 24px;
              font-weight: bold;

              transform: translate(-50%, -50%);
              content: "\2303";
              font-size: 18px;
              font-family: montserrat, sans-serif;
              font-weight: 600;
              font-style: normal;
            }
          }

          @include desktop {
            padding-right: unset;
          }

          .secondary-nav {
            position: fixed;
            display: none;

            background: $backgroundGrey;
            top: 100px;
            left: 0;
            padding: 30px 0;

            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

            .u-max-m {
              @include desktop {
                width: 100%;
                padding: 0;
              }
            }

            @include desktop {
              position: unset;
              transform: unset;
              top: 0;
              padding: 0;
              width: 100%;
              background: unset;

              box-shadow: none;
            }

            .row {
              .col {
                @include desktop {
                  margin: 0;
                  width: 100%;
                }
              }
            }

            // needed to keep the secondary nav showing when moving from primary to secondary
            &::before {
              display: block;
              content: "";
              position: absolute;
              height: 100px;
              width: 2000px;
              top: 0;
              left: 50%;
              transform: translate(-50%, -50%);

              @include desktop {
                content: unset;
              }
            }

            ul {
              @include desktop {
                margin: 0;
              }

              li {
                margin-left: 50px;

                &:after {
                  content: unset;
                }

                &:first-of-type {
                  margin-left: 0;

                  @include desktop {
                    border-top: 1px solid white;
                  }
                }

                @include desktop {
                  background: lighten($brandLightBlue, 10%);
                  margin: 0;
                }
                a {
                  @include desktop {
                    font-size: 14px;
                    font-weight: 400;
                    padding-left: 55px;
                  }
                }
              }
            }
          }
        }

        &:hover,
        &.active {
          .secondary-nav {
            display: block;
          }
        }
      }
    }
  }

  .btn,
  .c-button {
    bottom: -6px;
    position: relative;
    font-size: 14px;
  }

  .open,
  .close {
    display: none;
    @include desktop {
      display: none;
      position: absolute;
      top: 50%;
      right: 30px;
      color: $brandBlue;
      font-size: 30px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;

      &:not(.active) {
        display: none;
      }
    }

    span {
      font-size: 18px;
      font-family: source-sans-pro, sans-serif;
      margin-left: 0.5em;
      font-weight: bold;
    }
  }

  .logo {
    a {
      display: block;

      img {
        @include desktop {
          margin-top: 5px;
        }
      }
    }
  }

  .apply-btn {
    .btn {
      padding: 5px 25px;
      text-align: center;
    }
  }
}

.ghost-header {
  margin-bottom: 100px;

  @include desktop {
    margin-bottom: 90px;
  }
}
