.holding {
    padding: 100px 0;
    background: $backgroundGrey;

    @include desktop {
        padding: 50px 0;
    }

    h2 {
        color: $brandGreen;
    }

    .cards {
        margin-top: 37px;
        .card {
            padding: 33px 41px;
            background: white;
            box-shadow: 0 3px 6px rgba(0,0,0,0.2);
            border-radius: 10px;
            margin-bottom: 30px;
        }
    }
    

}