.large-call-to-action {
  padding: 100px;

  @include desktop {
    padding: 50px 0;
  }

  &.blue {
    background: #1b2959;
  }

  &.green {
    background: $brandGreen;
  }

  &.lightblue {
    background: $brandBlue;
  }

  h4,
  h2,
  p {
    color: white;
  }

  .image {
    @include desktop {
      margin-top: 35px;
    }
  }

  .btn {
    margin-top: 30px;
  }
}
.additional-links {
  &.blue {
    background: #1b2959;
  }

  &.green {
    background: $brandGreen;
  }

  &.lightblue {
    background: $brandBlue;
  }
}
