.news-holder {
    background: url('../img/background/pattern-grey-top.svg') repeat-x;
    padding: 100px 0;
    
    @include desktop {
        padding: 50px 0;
    }

    h2 {
        color: $brandBlue;
    }

    .news-card-holder {
        & > .row {
            

            @include desktop {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            @include mobile-actual-break {
                display: block;
            }
    
            .col {

                width: 33%;


                &:first-child(), &:nth-child(3n+1) {
                    margin-left: 0;
                }

                &:nth-child(3) {
                    @include desktop {
                        display: none;
                    }
                }

                @include desktop {
                    width: 50%;
                    margin-left: 0;
                }

                @include mobile-actual-break {
                    width: 100%;
                }
                
            }
        }

        
    }
   

    .card {
        padding: 20px;
        background: white;
        border-radius: 10px;
        border: solid 1px transparent;
        transition: all 0.3s;
        margin-bottom: 30px;

        @include mobile-break {
            margin-bottom: 20px;
        }

        time, h2 {
            color: $brandBlue;
        }

        .btn {
            display: inline-block;
        }

        &:hover {
            
            border: solid 1px rgba(0, 0, 0, 0.1);
            transform: none;
            box-shadow: none;

        }

    }

}
.pagination {
    padding: 20px 0;
    background-color: $brandBlue;
}
