.page-content {
  padding: 100px 0;

  @include desktop {
    padding: 50px 0;
  }

  time {
    color: $brandBlue;
  }

  h1,
  h2 {
    color: $brandBlue;
  }

  .two-col {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 73px;
    -moz-column-gap: 73px;
    column-gap: 73px;

    @include desktop {
      column-count: 1;
    }
  }

  li,
  li strong,
  p,
  a {
    color: #6c7071;
  }

  .two-col,
  .one-col {
    h2 {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    h3 {
      color: $brandBlue;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
}

.back {
  background: $brandBlue;
  padding: 20px;
  width: calc(100vw - 40px);
  color: white;

  i {
    position: absolute;
    left: -30px;
    top: 40%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    @include desktop {
      left: -10px;
    }
  }

  a {
    cursor: pointer;
    margin-left: 50px;
    display: block;
    color: white;
    font-size: 18px;
    text-decoration: none;
  }

  .prev {
    &:hover {
      i {
        left: -80px;
        @include desktop {
          left: -30px;
        }
      }
    }
  }
}
