.page-banner {

    padding: 100px 0;
    min-height: 400px;

    &.blue {
        background: url('../img/background/pattern-blue-left.svg') no-repeat $brandBlue;
        @include desktop {    
            background: $brandBlue;
        }
    }

    &.green {
        background: url('../img/background/pattern-green-left.svg') no-repeat $brandGreen;
        @include desktop {    
            background: $brandGreen;
        }

        .btn {
            &:hover {
                color: $brandGreen;
            }
        }
    }

    &.lightBlue {
        background: url('../img/background/pattern-blue-left.svg') no-repeat $brandLightBlue;
        @include desktop {    
            background: $brandLightBlue;
        }

        .btn {
            &:hover {
                color: $brandLightBlue;
            }
        }
    }

    &.grey {
        background: url('../img/background/pattern-white-left.svg') no-repeat $backgroundGrey;

        @include desktop {    
            background: $backgroundGrey;
        }

        h1 {
            color: $brandBlue
        }

        p {
            color: #6C7071;
        }
    }

    @include desktop {
        padding: 50px 0;
    }

    .image {

        figure {
            @include mobile-break {
                width: 50%;
                padding-top: 50%;
                margin: auto;
                
            }
        }

        @include mobile-break {
            width: 100%;
            float: left;
            margin: auto 0;
            margin-right: 25px;
            margin-bottom: 25px;
        }

    }

    .content > .row {
        clear: both;

        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }
    .content .content {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include mobile-break {
            margin-top: 0; 
            margin-left: 0;
            width: 100%;
            float: none;    
            position: relative;
            top: unset;
            transform: none;      
        }

        .image {
            @include desktop {
                margin-bottom: 50px;
            }

            @include mobile {
                width: 50%;
            }
        }
    }

    h1, p {
        color: white;
        margin-bottom: 30px;
    }


}