.c-signpost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 -20px;

    @include mobile-break {
        margin: 0 -30px;
    }

    @include desktop {
        grid-template-columns: 1fr;
    }

    &__content {
        padding: 6em 8em;
        color: #6C7071;
         // Most blocks are use the "20 of 24" cols class. As our block doesn't follow
        // the layout pattern of the other we still want to honor the alignment so we
        // do the an alternative with just the padding left:
        padding-left: calc(10px + 100% - 83.33333%);

        @include desktop {
            padding: 3em 30px;
        }

        p {
            line-height: 1.5;
            color: inherit;
        }
    }

    &__heading {
        margin-bottom: 0.5em;
    }

    &__asset-wrapper {
        align-self: stretch;
        padding-bottom: 70%;
        position: relative;
    }

    &__asset {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &__ctas {
        display: flex;
        flex-wrap: wrap;

        gap: 1em;
    }
}
