.swiper-content {

    background: $backgroundGrey;
    padding: 100px 0 0;

    @include desktop {
        padding: 50px 0 0;
    }

    .swiper-slide {

        width: 100%;
        display: block;
        padding-bottom: 50px;

        .content {

            padding: 50px 0;

            @include desktop {
                padding: 0;
                margin-bottom: 25px;
            }
            
            h2 {
            
                color: $brandBlue;
            
            }
        
        }

        figure {
            a {
                height: 100%;
                width: 100%;
                background: url(../img/icons/play.svg) no-repeat center center;
                display: block;
                position: absolute;
                top: 0;
                z-index: 1000;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    
    }

    .navigation {
    
        background: $brandBlue;

        .nav {
            position: relative;
            padding: 32px 0;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.3s;

            &.swiper-button-disabled {
                opacity: 0;
            }
            p {
                color: white;
                margin: 0;

                i {
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    transition: all 0.5s;
                    transform: translate( -50%, -50%);
                }
            }

            &:hover {
                &.prev {
                    i {
                        left: -30px;
                    }
                }
               
                &.next {
                    i {
                        right: -30px;
                    }
                }
            }
        }

        .prev {
            
            padding-left: 50px;

            i {
                left: 0;
            }

        }

        .next {

            padding-right: 50px;

            i {
                right: 0;
            }

        }

        .col-left, .col-right {
            display: inline-block;
        }


    }
}