.team-members {
  padding: 82px 0;
  background: url("../img/background/pattern-grey-top.svg") repeat-x top center;
  cursor: pointer;

  @include desktop {
    padding: 50px 0;
  }

  .u-flex {
    flex-wrap: wrap;

    .team-member-holder > .col {
      display: inline-block;
      margin-bottom: 25px;

      @include desktop {
        width: 33%;
      }

      @include mobile-break {
        width: 49%;
      }
    }
  }

  h2 {
    color: $brandBlue;
    margin-bottom: 100px;

    @include desktop {
      margin-bottom: 50px;
    }
  }

  figure {
    display: block;
    transition: all 0.3s;
    border-radius: 20px !important;

    img {
      width: 100%;
      height: auto;
      border-radius: 20px !important;
    }
  }

  .member {
    position: relative;
    cursor: pointer;

    .content {
      position: absolute;
      left: 0;
      bottom: calc(70px / 2);
      opacity: 0;
      transition: all 0.3s;

      @include desktop {
        position: relative;
        opacity: 1;
        bottom: 0;
        margin-top: 25px;
      }

      p,
      h4 {
        display: block;
        // width: 100%;
        margin: 0;
        line-height: 18px;
        color: $brandBlue;
      }
    }

    &:hover {
      figure {
        transform: translateY(-100px);

        @include desktop {
          transform: none;
        }
      }

      &::before,
      .content {
        opacity: 1;
      }
    }

    &::after,
    &::before {
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background: $brandBlue;
      display: block;
      content: "";
      left: 50%;
      position: absolute;
      top: 110%;
      transform: translate(-50%, -50%);

      @include desktop {
        display: none;
      }
    }

    &::before {
      height: 15px;
      width: 15px;
      background: white;
      border: 2px solid $brandBlue;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}

.member-showcase {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 40%;
  background: white;
  padding: 45px 50px;
  border-radius: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  z-index: 20;

  transition: all 0.5s;

  @include desktop {
    top: 4%;
    left: 50%;
    width: 80%;
    padding: 20px;

    transform: scale(0) translateX(-50%);
  }
  @include mobile {
    overflow: scroll;
    height: 80vh;
  }

  .controls {
    position: absolute;
    top: 40px;
    right: 15px;
    transform: translate(-50%, -50%);

    i {
      font-size: 30px;
      color: $brandBlue;
    }
  }

  p,
  h4 {
    display: block;
    // width: 100%;
    margin: 0;
    line-height: 18px;
    color: $brandBlue;
  }

  p {
    margin-bottom: 16px;
  }

  figure {
    margin-top: 30px;
    margin-bottom: 40px;

    @include desktop {
      width: 50%;
      padding-top: 50%;
      margin: 20px auto;
    }

    img {
      border-radius: 20px;
    }
  }

  .content {
    p {
      color: #6c7071;
    }
  }

  &.active {
    transform: scale(1) translate(-50%, -50%);

    @include desktop {
      transform: scale(1) translateX(-50%);
    }
  }
}
