.three-block-row {
    background: $backgroundGrey;
    padding: 100px 0;

    @include desktop {
        padding: 50px 0;
    }

    .card {
        margin-bottom: 15px;
        width: 32%;

        @include mobile-break {
            width: 49%
        }

        @include mobile {
            width: 100%;
        }


        .background {
            background: white;
            .content {
                padding: 28px 35px;

                @include mobile-break {
                    padding: 20px;
                }

                h2 {
                    color: $brandGreen;
                }
            }
        }
    }
    
}