.two-card-grid {
    background: $backgroundGrey;
    padding: 100px 0;

    @include desktop {
        padding: 50px 0;
    }

    .card {
        margin-bottom: 15px;
        .background {
            background: white;
            .content {
                padding: 28px 35px;
                h2 {
                    color: $brandGreen;
                }
            }
        }
        
        
    }
    
}