.video-cta {
    background: url('../img/background/pattern-grey.svg') repeat-x;

    .float-box {
        padding: 97px 0;

        @include desktop {
            padding: 50px 0;
        }
    }
    h2 {
        color: $brandBlue;
    }

    .box {
        background: white;
        
        display: flex;
        flex-wrap: wrap;
    }

    .videoWrapper {  
        min-height: 100%;  
        width: 50%;
        @include mobile-break {
            width: 100%
        }
        
        iframe {
            min-width: 100%;
            height: 100%;

            @include mobile-break {
                min-width: 100%;
                width: auto;
                height: 320px;
            }
        }
    }

    .content {
        
        width: 50%;

        .padding {
            padding: 43px;

            @include desktop {
                padding: 20px;
            }
        }

        @include mobile-break {
            width: 100%
        }

    }

}