.video-player {

    overflow: hidden;
    height: 660px;    

    h1 {
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    h3 {
        font-size: 16px;
        margin-top: 20px;
    }

    h1, h3 {
        color: white;
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        overflow: hidden;
    }

    .content {
        position: absolute;
        width: 50%;
        min-width: 700px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include mobile-break {
            min-width: unset;
            width: 100%;
        }
    }
}