| {% extends '_layout' %}
| {% block content %}
| {% include '_includes/_header.html' %}
.header-spacing
section.pageIntro.padding-top.padding-bottom
    #trigger1.spacer.s0
    #trigger2.spacer.s0
    .max-cont
        .grey-circle
        .pink-circle
        
        .row.relative
            .col.col--2-of-3
                h1  404 - page not found 
                h2.u-margin-top-s Opps, something’sgone wrong!
        .row.relative
            .col.col--1-of-2.section-intro
                
            
                a.button.button__primary(href="{{ siteUrl }}" target="_self")  Home
            
| {% endblock %}