<!DOCTYPE html>
<html lang="en-GB">
{% include '_includes/_header-core.twig' %}
<body>
    <div id="loading-overlay" class="overlay" ></div>
    {% block content %}

    {% endblock %}

    {% if entry.hideBottomCta is defined %}
        {% set hideBottomCta = entry.hideBottomCta %}
    {% endif %}

    {% include '_includes/_foot-insert.html' with { hideBottomCta: hideBottomCta } %}

    {% include '_includes/_footer.twig' %}
</body>
</html>
