{% set givingPages = craft.entries().section('giving') %}
| {% extends '_layout' %}
| {% block content %}
div.u-max-m
    | {% include '_includes/_header.html' %}
    <main>
    | {% include '_matrix-includes/_giving-content.html' %}
    section.holding.break-pw
        .u-max-m
            .row
                .col.col--10-of-24.col--centered
                    .u-text-center
                        h2 {{ entry.holdingTitle}}
                        {{ entry.holdingContent }}
                    .cards  
                        {% if givingPages | length %}
                        {% for giving in givingPages.all() %}
                        .card 
                            h2 {{ giving.abstractTitle}}
                            {{ giving.abstractContent }}
                            {% if giving.abstractButton %}
                            a.btn.v-btn-tertiary.alt(href="{{ giving.abstractButton.getUrl() }}") {{ giving.abstractButton.getText() }}
                            {% endif %}
                            
                        {% endfor %}
                        {% endif %}

    </main> 
| {% endblock %}