{% set cards = craft.entries().section('news').all() %}
{% extends '_layout' %}
{% block content %}<div class="u-max-m">{% include '_includes/_header.html' %}
<main><!-- get all the cards-->{% if cards | length %}<section class="break-pw news-holder alt"><div class="u-max-m u-margin-bottom-l"><div class="row"><div class="col col--24-of-24 u-text-center"><header> <h2>News</h2></header></div><div class="col col--20-of-24 col--centered"><div class="news-card-holder"><div class="row">{% for card in cards %}<div class="col col--6-of-20"><article class="card border-shadow"><time>{{ card.datePosted | date('d/m/Y') }}</time><h2>{{ card.title | chop(unit='c', limit='30' ) }}{% if card.title | length > 30 %}...{% endif %}</h2><p>{{ card.newsContent | chop(unit='c', limit='100') }}{% if card.newsContent | length > 100 %}...{% endif %}</p><a href="{{ card.getUrl() }}" class="btn">Read more</a></article></div>{% endfor %}</div></div></div></div></div></section>{% else %}<h1>Sorry no news                      </h1>{% endif %}
</main> </div>{% endblock %}