{% extends '_layout' %}
{% block content %}
div.u-max-m
    {% include '_includes/_header.html' %}
    main
        
        section.break-pw.page-content
            .u-max-m
                .row
                    .col.col--14-of-24.col--centered 
                        time {{ entry.datePosted | date('d/m/Y') }}
                        h2 {{ entry.title }}
                        {{ entry.newsContent }}
                    
        .break-pw.back
            .u-max-m
                .prev.relative
                    i.fas.fa-chevron-left
                    a(onclick="window.history.back();") Back
    </main> 
{% endblock %}