section.break-pw.call-to-action
    .u-max-m
        .row
            .col.col--20-of-24.col--centered
                .cta-box(data-aos="fade-up")
                    .u-flex
                        {% for asset in callToAction.ctaImage.all %}
                        .col.col--6-of-18.image(style="background: url({{ asset.getUrl('threeByTwo') }}); background-size: cover; ")


                        {% endfor %}
                        .content
                            h2 {{ callToAction.ctaTitle }}
                            p {{ callToAction.ctaContent }}
                            {% if callToAction.ctaButton %}
                            a.btn.v-btn-white(href="{{callToAction.ctaButton.getUrl() }}") {{ callToAction.ctaButton.getText() }}
                            {% endif %}
